*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    background: aliceblue;
    text-align: center;
    padding: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
   padding: 10px 20px;
   text-transform: uppercase;
   text-decoration: none;
   color: #252525;
   font-weight: 600;
}

nav ul li a.active {
    border-top: #252525 2px solid;
    border-bottom: #252525 2px solid;
    transition: 0.1s;
}
